version: '3.8'

services:
  postgres:
    image: postgres:16
    ports: 
      - "5434:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: akash
      POSTGRES_DB: project_bid
    volumes:
      - postgres_data:/var/lib/postgresql/data

  server:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    ports:
      - "4006:4006"
    volumes:
      - ./server:/app
      - /app/node_modules
    environment:
      DATABASE_URL: postgres://postgres:akash@postgres:5432/project_bid
      NODE_ENV: development
      PORT: 4006
      JWT_SECRET: JWT_SECRET
    depends_on:
      - postgres

  client:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:4006/api/v1
    depends_on:
      - server

volumes:
  postgres_data: