version: '3.8'

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile.prod
    ports:
      - "4006:4006"
    env_file:
      - .env.production
    restart: always

  client:
    build:
      context: ./client
      dockerfile: Dockerfile.prod
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: http://YOUR_DOMAIN:4006/api/v1
    depends_on:
      - server
    restart: always
