name: Frontend CI/CD

on:
  push:
    branches:
      - main
    paths:
      - "client/**"
      - "docker-compose.prod.yml"

jobs:
  frontend-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout Code
      - name: Checkout Repo
        uses: actions/checkout@v4

      # 2. Setup Node
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      # 3. Install & Test Frontend
      - name: Install Frontend Dependencies
        working-directory: ./client
        run: npm install

      - name: Frontend Lint
        working-directory: ./client
        run: npm run lint || echo "No lint configured"

      - name: Frontend Test
        working-directory: ./client
        run: npm test || echo "No tests found"

      # 4. Deploy to EC2
      - name: Deploy Frontend to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ${{ secrets.EC2_PATH }}
            git pull origin main

            docker compose -f docker-compose.prod.yml stop client
            docker compose -f docker-compose.prod.yml build client
            docker compose -f docker-compose.prod.yml up -d client

            docker image prune -f
